/***
  1. Px to EM function
  2. Z-index function 
  3. Color function
***/

// PX to EM
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Z-index
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

// Color
@function darkest($color) {
  @return darken($color, 20%);
}
@function darker($color) {
  @return darken($color, 13.333%);
}
@function dark($color) {
  @return darken($color, 6.667%);
}
@function light($color) {
  @return lighten($color, 16.667%);
}
@function lighter($color) {
  @return lighten($color, 33.333%);
}
@function lightest($color) {
  @return lighten($color, 50%);
}
