/***
  1. Media query mixin
  2. Position center mixin
  3. Clearfix
  4. List reset
  5. Keyframes
  6. Animation
  7. Retina Image
  8. Gradient
  9. Padding mixin
  10. Margin mixin
  11. Positioning (top, left, right, bottom)
  12. Font size (rem calc)
  13. Horizontal center 
  14. Fade effect
  15. Box shadow
  16. Box width height
  17. Column
  18. Border radius
  19. Transition mixins
***/

// MEDIA QUERIES
// @include breakpoint(large) {
//     width: 20%;
//   }
@mixin breakpoint($point) {
  @if $point == retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      @content;
    }
  }
  @if $point == xxlarge {
    @media (min-width: 1921px) {
      @content;
    }
  }
  @if $point == xlarge {
    @media (min-width: 1600px) {
      @content;
    }
  }
  @if $point == large {
    @media (min-width: 1441px) {
      @content;
    }
  } @else if $point == regular-screen {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == landscape {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == smaller-screen {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $point == portrait {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $point == large-mobile {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point == mobile {
    @media (min-width: 360px) {
      @content;
    }
  }
}

// Define vertical, horizontal, or both position
// @include center(both);
@mixin center($position) {
  position: absolute;
  @if $position == "vertical" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

// Clearfix mixin
// @extend %clearfix;
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// list reset
// @extend %listreset;
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

//Animation mixin setup
// @include keyframes(fade-out) {
//     0% { opacity: 1; }
//     90% { opacity: 0; }
//  }
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// @include animation('fade-out 5s 3');
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Retina Image
// @include image-2x("logo2x.png", 100px, 25px);
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

// Gradient
// $start-color, $end-color, $orientation - vertical/horizontal/radial
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

//Padding mixin
// @include padding(top, right, bottom, left);
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
// @include margin(top, right, bottom, left);
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

// Positioning
// @include absolute(top 100% left 0);
@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number
    {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}

// Font size
@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

// Margin x auto, centering
@mixin mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Show hide
@mixin fade($type) {
  @if $type == "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type == "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

// Box shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Box
@mixin box($width, $height) {
  width: $width;
  height: $height;
}

// Columns
@mixin columns($columns: 2, $gap: 30px) {
  column-count: $columns;
  column-gap: $gap;
}

// Border radius
@mixin border-radius(
  $top-left: 0,
  $top-right: 0,
  $bottom-right: 0,
  $bottom-left: 0
) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

// Transition mixin
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
