@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic");
@import "./variables";
@import "./mixins";
@import "./functions";
@import "./reset";

// Base styles
body {
    font-family: $base-font;
    font-size: $base-font-size;
    padding: 15px; // remove it
}

/***
    Component styles
***/
@import "./components/Button.scss";
